@tailwind base;
@tailwind components;
@tailwind utilities;


.swiper-button-next{
    color: white;
}
.swiper-button-prev{
    color: white;
}

*{
    margin:0;
    padding:0;
    scroll-behavior: smooth;
    transition: all 0.5s ease-in-out;
}


